#camera {
  height: 0;
  width: 0;
  position: absolute;
  left: 50%;
  top: 50%;

  // camera
  transform-origin: left top 0px;
  transform-style: preserve-3d;
  transform: scale(1);
  transition: all 1000ms ease-in-out;

  .place {
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
}